a {
    text-decoration: none;
    margin: 10px;
    color: aliceblue;
}

span {
    margin: 10px;
}

#logout {
    cursor: pointer;
    background: no-repeat;
    float: right;
    border: none;
    color: #00000099;
    position: absolute;
    right: 20px;
    -webkit-filter: invert(100%);
    // filter: invert(100%);
}

img{
    height: 50px;
    width: 50px;
}

#homeDiv{
    margin-left: 100px;
}