<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <a routerLink="home" routerLinkActive="activebutton">
                <img src="../../../assets/medicine.png" alt="medicine">
                Medicare<sup>tm</sup></a>
            <div id="homeDiv">
                <a routerLink="home" routerLinkActive="activebutton">
                    Home</a>
                <a routerLink="login" routerLinkActive="activebutton">
                    Login</a>
                <a routerLink="singup" routerLinkActive="activebutton">
                    SignUp</a>
            </div>
            <button id="logout">
                <img src="../../../assets/logout.png" alt="logout">
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>


<router-outlet></router-outlet>